<div class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent relative {{btnClass}}">
  <div class="signature-bg"></div>
  <div class="signature-name">
    {{label}}
  </div>
  <div class="signature-footer">
      <div>dotloop verified</div>
      <div>{{signTime}}</div>
    </div>
</div>
