.strong {
    font-family: @font-family-strong;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.margin-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.relative {
  position: relative;
}
