.grid {
    margin: 0;
    padding: 0;
    // .clearfix();

    > li {
        list-style: none;
        float: left;
        min-height: 1px;

        /* one item */
        &:first-child:nth-last-child(1) {
            width: 100%;
        }

        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ li {
            width: 50%;
        }

        /* three items */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ li {
            width: 33.3333%;
        }

        /* four items */
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ li {
            width: 25%;
        }

        /* five items */
        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ li {
            width: 20%;
        }
    }
}