h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-light;
}

.mdl-textfield {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 14px 20px 6px;
    margin-bottom: 10px;
}

.mdl-textfield__input {
    border-bottom: none;
}

.mdl-textfield__label {
    top: 15px;
    padding-left: 20px;

    &:after {
        content: none;
    }
}

.mdl-menu {
    padding: 0;
}

.mdl-menu__item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.header {
  .mdl-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .mdl-menu a {
    color: black;
  }
}

.mdl-button.mdl-button--accent {
   cursor: pointer;
   color: gray;
   width: 100%;
   border: 1px solid rgba(0, 0, 0, 0.12);
   padding: 0;

   &.btn-action {
     width: 30%;
     margin-left: 15px;

     .add-icon {
       font-size: 20px;
       color: @highlight;
       border-radius: 50%;
       height: 20px;
       width: 20px;
       border: 1px solid @highlight;
       position: absolute;
       left: 68px;
       top: 8px;

       &:before {
         content: '+';
         position: absolute;
         left: 3px;
         top: -9px;
       }
     }
   }

   &.signature {
      height: 52px;
      line-height: 52px;
      background-color: @attention;
      color: @white;

      &.signed {
        background: transparent;
      }

      .signature-bg {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &:hover {
        color: @attention;
        background-color: @white;
      }

      .signature-name {
        height: 100%;
      }

      .signature-footer {
        height: 100%;
        display: none;
        float: right;
        background-color: @highlight;
      }

      &.signed {
        text-transform: lowercase;

        .signature-bg {
          background-color: @highlight;
          opacity: 0.2;
        }

        .signature-name {
          float: left;
          color: @highlight;
          font-family: 'Mr Dafoe', cursive;
          padding-left: 20px;
        }
        .signature-footer {
            background-color: @highlight;
            color: black;
            display: block;
            font-size: 10px;
            padding: 0 20px 0 0;
        }

        &:hover {
          color: default;
          background-color: default;
        }

      }
   }
}
