.container {
  width: 960px;
  margin: 0 auto;
}

// ----- Utilities
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.margin-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.header {
  background: green;
  color: blue;
  padding: 25px 10px;
  width: 100%;
  position: relative;
  .mdl-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
