<!-- Left aligned menu below button -->
<button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>
<!-- Right aligned menu below button -->
<button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>



<div class="container">
    <h2 id="title">Applicant information</h2>
    <form>
        <ul class="grid">
            <li>
                <label for="firstName">First name</label><br />
                <input type="text" id="firstName" >
            </li>
            <li>
                <label for="firstName">Middle name</label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>
                <label for="firstName">Last name</label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>
                <label for="firstName">Birth date</label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>
                <label for="firstName">Social security</label><br />
                <input type="text" id="firstName" >
            </li>    
        </ul>

        <ul class="grid">
            <li>
                <label for="firstName">Email address</label><br />
                <input type="text" id="firstName" >
            </li>
            <li>
                <label for="firstName">Home phone </label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>
                <label for="firstName">Cell phone</label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>
                <label for="firstName">Driver's license</label><br />
                <input type="text" id="firstName" >
            </li> 
            <li>&nbsp;</li>    
        </ul>
    </form>

    <form class="form-inline">
      <div class="form-group">
        <label for="firstName">First name</label><br />
        <input type="text" class="form-control" id="firstName" >
      </div>
      <div class="form-group">
        <label for="middleName">Middle name</label>
        <input type="text" class="form-control" id="middleName" >
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" >
      </div>
      <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input type="text" class="form-control" id="birthDate" >
      </div>
      <div class="form-group">
        <label for="lastName">Social security</label>
        <input type="text" class="form-control" id="socialSecurity" >
      </div>
    </form>

    <form class="form-inline">
      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input type="text" class="form-control" id="emailAddress" >
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" >
      </div>
      <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input type="text" class="form-control" id="birthDate" >
      </div>
      <div class="form-group">
        <label for="lastName">Social security</label>
        <input type="text" class="form-control" id="socialSecurity" >
      </div>
    </form>

    <form>
        <div class="row">
            <div class="col-md-2">
                <label for="firstName">First name</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div>
            <div class="col-md-2">
                <label for="firstName">Middle name</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">
                <label for="firstName">Last name</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">
                <label for="firstName">Birth date</label><br />
                <input type="text" class="form-control" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">
                <label for="firstName">Social security</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div>    
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="firstName">Email address</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div>
            <div class="col-md-2">
                <label for="firstName">Home phone </label><br />
                <input type="text" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">
                <label for="firstName">Cell phone</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">
                <label for="firstName">Driver's divcense</label><br />
                <input type="text" class="form-control" id="firstName" >
            </div> 
            <div class="col-md-2">&nbsp;</div>    
        </div>
    </form>

</div>

{{outlet}}