<!-- Left aligned menu below button -->
<div class="header clearfix">
    <div class="pull-left">
        <img class="logo" src="images/logo.png" />
        <h4>{{model.form.title}}</h4>
    </div>
    <button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons"><img src="images/menu.png" /></i>
    </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
    <li class="mdl-menu__item"><a href="#info">Applicant information</a></li>
    <li class="mdl-menu__item"><a href="#rental">Rental history</a></li>
    <li class="mdl-menu__item"><a href="#employment">Employment history</a></li>
    <li class="mdl-menu__item"><a href="#credit">Credit history</a></li>
    <li class="mdl-menu__item"><a href="#references">References</a></li>
    <li class="mdl-menu__item"><a href="#gInfo">General information</a></li>
    <li class="mdl-menu__item"><a href="#agreement">Aggreement & Authorization</a></li>
  </ul>
</div>
