<!-- Left aligned menu below button -->
<div class="header clearfix">
    <div class="pull-left">
        <img class="logo" src="images/logo.png" />
        <h4>Rental Application</h4>
    </div>
    <button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons"><img src="images/menu.png" /></i>
    </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
    <li class="mdl-menu__item">Applicant information</li>
    <li class="mdl-menu__item">Rental history</li>
    <li class="mdl-menu__item">Employment history</li>
    <li class="mdl-menu__item">Credit history</li>
    <li class="mdl-menu__item">References</li>
    <li class="mdl-menu__item">General information</li>
    <li class="mdl-menu__item">Aggreement & Authorization</li>
  </ul>
</div>