<div class="container">
  {{#each}}
    {{#divide_by @index divideBy="3" compare="0"}}
       <div class="row">
    {{/divide_by}}
      <div class="col-md-4">{{mdl-input id="{{id}}}" label="{{label}}" }}</div>
    {{#divide_by @index divideBy="3" compare="2"}}
      </div>
    {{/divide_by}}
  {{/each}}
</div>
