<div class="container">
  <form action="#">
    {{input-text feildName="firstName" placeHolder="First Name"}}
    {{input-text feildName="MiddleName" placeHolder="Middle Name"}}
    {{input-text feildName="lastName" placeHolder="Last Name"}}
  </form>
</div>
